body{
    background-color: gainsboro;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    
}
#sale,#withdraw,#ZEMxs{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#join{
    font-size: 30px;
}
#deadline{
    font-size: 20px;
}
#saleAddress{
    font: 1em sans-serif;
    font-size: 15px;
}